<div class="post-meta">
    {{- range $key, $value := .Site.Taxonomies }}
    {{- $taxonomies := ($.GetTerms $key).ByTitle }}
    {{- if eq $.Site.Params.taxonomySortingMethod "popularity" }}{{ $taxonomies = (sort $taxonomies ".Data.Pages"
    "desc")}}{{ end }}
    {{- range $taxonomies -}}
    <a href="{{ .Permalink }}"
      class="btn btn-sm mb-1 me-1 py-0 pe-1 post-taxonomy post-taxonomy-sm post-{{ $key | singularize }} text-body">
      {{- if eq $key "series" }}
      <i class="fas fa-fw fa-columns me-1 text-info"></i>
      {{- else if eq $key "categories" }}
      <i class="fas fa-fw fa-folder me-1 text-warning"></i>
      {{- else if eq $key "authors" }}
      <i class="fas fa-fw fa-user me-1 text-primary"></i>
      {{ else }}
      <i class="fa-solid fa-hashtag me-1 text-secondary"></i>
      {{- end }}
      {{- .Name | title -}}
    </a>
    {{- end }}
    {{- end }}
    <div class="float-md-end text-end mb-1 me-1">
      {{- if default .Site.Params.readingTime .Params.readingTime -}}
      <i class="fa-solid fa-clock"></i>
      <span class="post-reading-time me-2">{{- i18n "reading_time" . }}</span>
      {{- end }}
      {{- if default .Site.Params.postDate .Params.postDate }}
      {{- $dateParams := dict "createdOn" .Date.Local }}
      {{- if gt .Lastmod .Date }}
      {{- $dateParams = merge $dateParams (dict "updatedOn" .Lastmod.Local) }}
      {{- end }}
      <span class="post-date" title="{{ i18n " post_date" $dateParams }}">
        {{- partial "post/time-format" .Page }}
      </span>
      {{- end }}
    </div>
  </div>