{{ $images := .Page.Params.images }}
{{ $imgWidth := .w }}
{{ $imgHeight := .h }}
{{ $imgResize := .resize }}
{{ if $images }}
{{- $formats := slice "avif" "webp" "jxl" -}}
<picture>
  {{- $img := index $images 0 -}}
  {{- $ext := $img | path.Ext }}
  {{- $url := urls.Parse $img -}}
  {{- $width := false -}}
  {{- $height := false }}
  {{- $validExts := slice ".svg" ".avif" -}}
  {{- if not $url.Scheme -}}
  {{- range $formats -}}
  {{- $filename := replace $img $ext (printf ".%s" .) -}}
  {{- if and (not (strings.HasSuffix $ext .)) (fileExists (path.Join "static" $filename)) -}}
  <source srcset="{{ $filename | absURL }}" type="image/{{ . }}" />
  {{- end -}}
  {{- end -}}
  {{- $filename := path.Join "static" $url.Path -}}
  {{- if fileExists $filename -}}
  {{- if not (in $validExts $ext) -}}
  {{- $config := imageConfig $filename -}}
  {{- $width = $imgWidth | $config.Width -}}
  {{- $height = $imgHeight | $config.Height -}}
  {{- end -}}
  {{- else -}}
  {{- warnf "no such image can be found in page resources and the static folder: %s" $filename -}}
  {{- end -}}
  {{- end -}}
  <img class="img-fluid rounded-2" alt="{{ .Title }}" src="{{ $img | absURL  }}" loading="lazy" {{ with $width }}
    width="{{ . }}" {{ end }} {{ with $height}} height="{{ . }}" {{ end }} />
</picture>
{{- else -}}
{{- $featured := partialCached "functions/thumbnail" .Page .Page }}
{{- with $featured -}}
{{- $smallImage := .Resize "240x" -}}
{{ if $imgResize }}
{{ $smallImage = .Resize $imgResize }}
{{ end }}
{{- $largeImage := .Resize "520x" -}}
<picture>
  <source srcset="{{ $largeImage.RelPermalink }}" media="(max-width: 576px)" height="{{ $largeImage.Height }}"
    width="{{ $largeImage.Width }}">
  <img class="img-fluid rounded-2" height="{{ $smallImage.Height }}" width="{{ $smallImage.Width }}" alt="{{ .Title }}"
    src="{{ $smallImage.RelPermalink  }}" data-src="{{ $featured.RelPermalink }}" loading="lazy" />
</picture>
{{- end -}}
{{- end -}}