{{ define "content" }}
<div class="{{ if default true .Params.sidebar }}col-xxl-8{{ else }}col-xxl-12{{ end }}">
  <div class="container">
    {{- partial "breadcrumb" . -}}
    <div class="taxonomys">
      {{- range .Paginator.Pages -}}
      {{- $count := len .Pages -}}
      <div class="taxonomy row card component rounded-4">
        <div class="fs-6 ms-2 mt-2 text-body">
          {{- if eq .Data.Plural "authors" }}
          <div class="author d-flex mt-2 flex-column flex-md-row align-items-center">
            {{- partial "author/avatar" .Page }}
            <div class="text-center text-md-start flex-grow-1 ms-0 ms-md-4">
              <h2 class="taxonomy-title card-title author-name fs-4 mb-2 text-surface">
                <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
              </h2>
              {{- with .Page.Description }}
              <div class="author-description mb-2">{{ . }}</div>
              {{- end }}
              {{- partial "author/social" .Page }}
              <div class="fs-6 ms-2">
                {{ partial "helpers/site-info" .Pages }}
              </div>
            </div>
          </div>
          {{- else }}
          <span class="fw-bold">
            <a href="{{ .Page.Permalink }}">
              {{ .Page.Title }}
              <span class="fa-solid fa-link text-primary"></span>
            </a>
          </span>
          <div class="me-2 text-body float-end ">
            {{ partial "helpers/site-info" .Pages }}
          </div>
          {{- end }}
          <hr class="mb-0" />
        </div>
        <div class="card-body">
          {{- $postCount := $.Site.Params.taxonomyPostCount -}}
          {{- if $postCount -}}
          <ul class="taxonomy-posts post-list list-unstyled ms-1">
            {{- range $index, $value := first $postCount .Pages -}}
            <li class="{{ if gt $index 0 }} mt-3 {{ end }} d-flex align-items-start">
              {{ partial "archives/archive-item" . }}
            </li>
            {{- end -}}
          </ul>
          {{- end -}}
          {{- if gt $count $postCount -}}
          <div class="text-center fs-5 mt-3">
            <a class="post-title" href="{{ .Page.Permalink }}">...</a>
          </div>
          {{- end -}}
        </div>
      </div>
      {{- end -}}
    </div>
    {{- partial "pagination" . -}}
  </div>
</div>
{{- partial "sidebar" . -}}
{{ end }}