{{ $pages := .Site.RegularPages }}
<div class="nav justify-content-center mt-2">
    <div class="nav-link text-body">
        <div class="d-flex align-items-center">
            <i class="fas fa-fw fa-file-alt text-primary"></i>
            {{ i18n "posts" }}
        </div>
        <span class="fw-bold badge text-bg-light text-danger px-1">
            {{ len $pages }}
        </span>
    </div>
    <div class="nav-link text-body">
        <div class="d-flex align-items-center">
            <i class="fas fa-fw fa-font"></i>
            {{ i18n "words" }}
        </div>
        <div class="badge text-bg-light text-danger px-1">
            {{ partial "helpers/word-count" $pages }}
        </div>
    </div>
</div>