{{ $paginator := .Paginator }}
{{ $totalPages := $paginator.TotalPages }}
{{ $remainPage := ($.Site.Param "paginator").Get "remainPage" }}
{{ $currPageNumber := $paginator.PageNumber }}
<div class="table-responsive mb-2 {{ if and (gt $currPageNumber 1) (lt $currPageNumber $totalPages) }} text-center {{ else if eq $currPageNumber $totalPages }} text-end {{ end }} clearfix">
  {{ if gt $totalPages 1 }}
  <div class="d-none d-md-block">
    {{ if and (gt $currPageNumber 1) ($paginator.HasPrev) }}
    <div class="float-start">
      <a class="btn btn-outline-secondary" href="{{ $paginator.Prev.URL }}">
        <i class="fa-solid fa-angle-left"></i>
      </a>
    </div>
    {{ end }}
    {{ if and (lt $currPageNumber $totalPages) ($paginator.HasNext) }}
    <div class="float-end">
      <a class="btn btn-outline-secondary" href="{{ $paginator.Next.URL }}">
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </div>
    {{ end }}
  </div>
  <div class="d-block d-md-none text-center">
    {{ if and (gt $currPageNumber 1) ($paginator.HasPrev) }}
    <div class="btn btn-outline-secondary {{ if and ($paginator.HasNext) ($paginator.HasPrev) }} w-25 float-start {{ else }} w-100 {{ end }}">
      <a href="{{ $paginator.Prev.URL }}">
        <i class="fa-solid fa-angle-left"></i>
      </a>
    </div>
    {{ end }}
    {{ if and (lt $currPageNumber $totalPages) ($paginator.HasNext) }}
    <div class="btn btn-outline-secondary {{ if and ($paginator.HasNext) ($paginator.HasPrev) }} w-25 float-end {{ else }} w-100 {{ end }}">
      <a href="{{ $paginator.Next.URL }}">
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </div>
    {{ end }}
  </div>
  <div class="d-none d-md-block">
    {{ $mid := div $remainPage 2 }}
    {{ $lastMid := add (sub $totalPages $remainPage) 1 }}
    <!-- 中间分页计算 -->
    {{ $start := sub $currPageNumber $mid }}
    {{ $end := add $currPageNumber $mid }}
    {{ if le $start 2 }}
    {{ $start = 1 }}
    {{ else if ge $start $lastMid }}
    {{ $start = $lastMid }}
    {{ end }}
    {{ if lt $totalPages $remainPage }}
    {{ $end = $totalPages }}
    {{ else if le $end $remainPage }}
    {{ $end = $remainPage }}
    {{ else if ge $end (sub $totalPages 1) }}
    {{ $end = $totalPages }}
    {{ end }}
    <!-- 开头省略 -->
    {{ if and
    (gt $totalPages $remainPage)
    (gt $start 2)
    }}
    <a class="btn btn-outline-secondary" href="{{ $paginator.First.URL }}">
      {{ $paginator.First.PageNumber }}
    </a>
    {{ $pager := index $paginator.Pagers (div (add 1 $currPageNumber) 2) }}
    <a class="btn btn-outline-secondary" href="{{ $pager.URL }}">
      ...
    </a>
    {{ end }}
    <!-- 中间分页 -->
    {{ range (seq $start $end) }}
    {{ $pager := index $paginator.Pagers (sub . 1) }}
    <a class="btn btn-outline-secondary {{ if eq . $currPageNumber }}active{{ end }}" href="{{ $pager.URL }}">
      {{ . }}
    </a>
    {{ end }}
    <!-- 结尾省略 -->
    {{ if and
    (gt $totalPages $remainPage)
    (lt $end (sub $totalPages 1))
    }}
    {{ $pager := index $paginator.Pagers (div (add $totalPages $currPageNumber) 2) }}
    <a class="btn btn-outline-secondary" href="{{ $pager.URL }}">
      ...
    </a>
    <a class="btn btn-outline-secondary" href="{{ $paginator.Last.URL }}">
      {{ $paginator.Last.PageNumber }}
    </a>
    {{ end }}
    <!-- <button class="btn btn-outline-dark input-button">
      <input class="input-go-page text-center" />
      <a href="1">
        <i class="fa-solid fa-angles-right"></i>
      </a>
    </button> -->
  </div>
  {{ end }}
</div>