{!--{- template "_internal/pagination.html" . -}}
{{ $paginator := .Paginator }}
{{ $totalPages := $paginator.TotalPages }}
<div class="table-responsive mb-2 {{ if and (gt $paginator.PageNumber 1) (lt $paginator.PageNumber $totalPages) }} text-center {{ else if eq $paginator.PageNumber $totalPages }} text-end {{ end }} clearfix">
  {{ if gt $totalPages 1 }}
  {{ if and (gt $paginator.PageNumber 1) ($paginator.HasPrev) }}
  <div class="float-start">
    <a class="btn btn-outline-dark" href="{{ $paginator.Prev.URL }}">
      <i class="fa-solid fa-angle-left"></i>
    </a>
  </div>
  {{ end }}
  {{ if and (lt $paginator.PageNumber $totalPages) ($paginator.HasNext) }}
  <div class="float-end">
    <a class="btn btn-outline-dark" href="{{ $paginator.Next.URL }}">
      <i class="fa-solid fa-angle-right"></i>
    </a>
  </div>
  {{ end }}
  <div class="d-none d-md-block">
    {{ if ge $paginator.PageNumber $paginator.PageSize }}
    <a class="btn btn-outline-dark" href="{{ $paginator.First.URL }}">
      {{ $paginator.First.PageNumber }}
    </a>
    <a class="btn btn-outline-dark" href="1">
      ...
    </a>
    {{  else if lt $paginator.PageNumber $paginator.PageSize }}
    {{ range seq $paginator.PageSize }}
    {{ $pager := index $paginator.Pagers (sub . 1) }}
    <a class="btn btn-outline-dark" href="{{ $pager.URL }}">
      {{ . }}
    </a>
    {{ end }}
    {{ end }}
    {{ $middleMaxPage := sub $totalPages $paginator.PageSize }}
    {{ if and (ge $paginator.PageNumber $paginator.PageSize) (lt $paginator.PageNumber $middleMaxPage) }}
    {{ $pageStart := add (mul (div $paginator.PageNumber $paginator.PageSize) $paginator.PageSize) 1 }}
    {{ $pageEnd := add $pageStart $paginator.PageSize }}
    {{ range after $pageStart (seq $pageEnd) }}
    {{ $pager := index $paginator.Pagers (sub . 1) }}
    <a class="btn btn-outline-dark" href="{{ $pager.URL }}">
      {{ . }}
    </a>
    {{ end }}
    {{ end }}
    {{ if ge $paginator.PageNumber $middleMaxPage }}
    {{ range after $middleMaxPage (seq $totalPages) }}
    {{ $pager := index $paginator.Pagers (sub . 1) }}
    <a class="btn btn-outline-dark" href="{{ $pager.URL }}">
      {{ . }}
    </a>
    {{ end }}
    {{ else }}
    <a class="btn btn-outline-dark" href="1">
      ...
    </a>
    <a class="btn btn-outline-dark" href="{{ $paginator.Last.URL }}">
      {{ $paginator.Last.PageNumber }}
    </a>
    {{ end }}
    <button class="btn btn-outline-dark input-button">
      <input class="input-go-page text-center" />
      <a href="1">
        <i class="fa-solid fa-angles-right"></i>
      </a>
    </button>
  </div>
  {{ end }}
</div>