{!--{- template "_internal/pagination.html" . -}}
{{ $paginator := .Paginator }}
{{ $totalPages := $paginator.TotalPages }}
{{ $pageSize := $paginator.PageSize }}
<div
  class="table-responsive mb-2 {{ if and (gt $paginator.PageNumber 1) (lt $paginator.PageNumber $totalPages) }} text-center {{ else if eq $paginator.PageNumber $totalPages }} text-end {{ end }} clearfix">
  {{ if gt $totalPages 1 }}
  {{ if and (gt $paginator.PageNumber 1) ($paginator.HasPrev) }}
  <div class="float-start">
    <a class="btn btn-outline-dark" href="{{ $paginator.Prev.URL }}">
      <i class="fa-solid fa-angle-left"></i>
    </a>
  </div>
  {{ end }}
  {{ if and (lt $paginator.PageNumber $totalPages) ($paginator.HasNext) }}
  <div class="float-end">
    <a class="btn btn-outline-dark" href="{{ $paginator.Next.URL }}">
      <i class="fa-solid fa-angle-right"></i>
    </a>
  </div>
  {{ end }}
  <div class="d-none d-md-block">
    {{ $halfSplitor := add (div $pageSize 2) 1 }}
    {{ if and
    (gt $totalPages $pageSize)
    (ge $paginator.PageNumber $halfSplitor)
    }}
    <a class="btn btn-outline-dark" href="{{ $paginator.First.URL }}">
      {{ $paginator.First.PageNumber }}
    </a>
    <a class="btn btn-outline-dark" href="1">
      ...
    </a>
    {{ end }}
    {{ $middleMaxPage := sub $totalPages $pageSize }}
    {{ $middleMaxSplitor := add $middleMaxPage $halfSplitor }}
    {{ $pageSizeMul := div $paginator.PageNumber $halfSplitor }}
    {{ $pageStart := mul $pageSizeMul $halfSplitor }}
    {{ if eq $pageStart 0 }}
    {{ $pageStart = 1 }}
    {{ else if gt $pageStart $middleMaxPage }}
    {{ $pageStart = $middleMaxPage }}
    {{ end }}
    {{ $pageEnd := add $pageStart $pageSize }}
    {{ if gt $pageEnd $totalPages }}
    {{ $pageEnd = $totalPages }}
    {{ end }}
    {{ range after $pageStart (seq $pageEnd) }}
    {{ $pager := index $paginator.Pagers (sub . 1) }}
    <a class="btn btn-outline-dark" href="{{ $pager.URL }}">
      {{ . }}
    </a>
    {{ end }}
    {{ if and
    (gt $totalPages $pageSize)
    (lt $paginator.PageNumber $middleMaxSplitor)
    }}
    <a class="btn btn-outline-dark" href="1">
      ...
    </a>
    <a class="btn btn-outline-dark" href="{{ $paginator.Last.URL }}">
      {{ $paginator.Last.PageNumber }}
    </a>
    {{ end }}
    <button class="btn btn-outline-dark input-button">
      <input class="input-go-page text-center" />
      <a href="1">
        <i class="fa-solid fa-angles-right"></i>
      </a>
    </button>
  </div>
  {{ end }}
</div>