{{- $page := .page -}}
{{- $basePath := .basePath -}}
{{- range .pages.GroupByDate "2006" -}}
{{- $yearPage := $page.GetPage (printf "%s%s/" $basePath .Key) -}}
<div class="card row component border-1 rounded-4" data-date="{{ .Key }}">
    <div class="fs-6 ms-2 mt-2 text-secondary">
        <span class="fw-bold">
            {{- with $yearPage -}}
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                    <span class="fa-solid fa-link text-primary"></span>
                </a>
            {{- else -}}
                {{- .Key -}}
            {{- end -}}
        </span>
        <span class="ms-4 text-body">
            <span class="fw-bold">
                <i class="fas fa-file-alt text-primary"></i>
                {{ len .Pages }}
            </span>
            <span class="ms-2">
                <i class="fas fa-font"></i>
                {{ partial "helpers/word-count" .Pages }}
            </span>
        </span>
    </div>
    <div class="card-body">
        <ul class="archive-posts post-list list-unstyled ms-1">
            {{- range first 5 .Pages -}}
            <li class="mb-2">
                <a class="post-title" href="{{ .RelPermalink }}">{{ partial "helpers/title" . }}</a>
                <span class="float-end post-date">{{ .Date.Format (default "Jan 2" $.Site.Params.archive.dateFormat) }}</span>
            </li>
            {{- end -}}
            {{- if and (gt (len .Pages) 5) $yearPage -}}
            <li class="mb-2">
                <a class="post-title" href="{{ $yearPage.RelPermalink }}">...</a>
            </li>
            {{- end -}}
        </ul>
    </div>
</div>
{{- end -}}
